body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

.avatar {
    width: 150px;
    height: 150px;
}

.card {
    width: 350px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    background: #e0e1dd;
    color: #0d1b2a;
    border-left: 10px solid #778da9;
    border-radius: 5px;
}

.border-blue {
    border: 1px dotted blue;
}
